$lobster: black;
$grey: blue;

body{
	background-color: $lobster;
}

h1{
	text-align: center;
}

.main-container {
	border: 10px $grey;
	background-color: white;
}

img{
	max-height: 22px;
	max-width: 22px;
}