<h1>{{title}}</h1>
<form class="">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="Abe" ng-model="newTask.firstName">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" placeholder="Lincoln" ng-model="newTask.lastName">
  </div>

  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" placeholder="(555)867-5309" ng-model="newTask.phone">
  </div>

  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" placeholder="Margaritaville" ng-model="newTask.address">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="example@host.com" ng-model="newTask.email">
  </div>

  <div class="form-group">
    <label>Company</label>
    <input type="text" class="form-control" placeholder="Slaver" ng-model="newTask.company">
  </div>

  <div class="form-group">
    <label>Notes</label>
    <textarea type="text" class="form-control" rows="5" placeholder="" ng-model="newTask.notes"></textarea>
  </div>

  <button class="btn btn-default" ng-click="addNewContact()">{{submitButtonText}}</button>
</form>