<h1>New Contact</h1>
<form>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="Abe" ng-model="newTask.firstName">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" placeholder="Lincoln" ng-model="newTask.lastName">
  </div>

  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" placeholder="(555)867-5309" ng-model="newTask.phone">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="your@mother.edu" ng-model="newTask.email">
  </div>

  <div class="form-group">
    <label>Company</label>
    <input type="text" class="form-control" placeholder="Slaver" ng-model="newTask.company">
  </div>

  <button class="btn btn-default" ng-click="addNewContact()">Submit</button>
</form>